<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Teon.Web.Staff-20140826082329;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Teon.Web.Staff-20140826082329.mdf" />
    -->
    <add name="Xenon.ConnectionString" connectionString="Data Source=Mcinthehouse;Initial catalog=BDBoticService;Integrated Security=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>